.options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.q-btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.q-btn:not([disabled]):hover {
  background-color: var(--color-darkest);
}

.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.btn-option {
  width: 100%;
  text-align: left;
}

.btn-option.correct {
  background-color: var(--color-theme);
  border: 2px solid var(--color-theme);
  color: var(--color-light);
}
.btn-option.wrong {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: var(--color-darkest);
}
